body {
    margin: 0px;
}

main, header {
    padding-left: 100px;
    font-family: 'Roboto', Arial, sans-serif;
    color: #212121;
}

header {
    border-bottom: 1px solid #CFD8DC;
    box-sizing: border-box;
    padding-bottom: 25px;
}

form {
    display: flex;
    align-items: center;
    width: 800px;
    margin-top: 30px;
    margin-bottom: 25px;
}

form div {
    display: flex;
    width: 100%;
}

header form:hover,
header form:not(:hover) input:focus,
header form:not(:hover) input:focus + button {
    box-shadow: 0 2px 6px 0 rgba(32, 33, 36, 0.28);
}

header a {
    margin: 30px 0px;
    box-shadow: 0 1px 4px 0 rgba(40, 53, 147, 0.28);
    padding: 10px;
    border-radius: 4px;
    text-decoration: none;
}

header a:visited {
    color: #616161;
}

input {
    flex-grow: 1;
    height: 44px;
    width: 582px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 15px;
    border: 1px solid #283593;
    border-right: none;
    border-radius: 4px 0px 0px 4px;
}

button {
    flex-shrink: 0;
    width: 90px;
    height: 44px;
    border-left: none;
    font-size: 15px;
    color: #fff;
    border: 1px solid #283593;
    border-radius: 0px 4px 4px 0px;
    background-color: #283593;
    font-family: 'Roboto', Arial, sans-serif;
}

main {
    font-size: 20px;
    margin-left: -55px;
}

main ol li {
    padding-left: 15px;
    padding-bottom: 15px;
}

main ol li a {
    color: #1565C0;
    text-decoration: none;
}
main ol li a:hover {
    color: #1A237E;
    text-decoration: underline;
}