@model IndexViewModel

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MultiSearch</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
    <main>
        <form method="get">
            <p>
                Введите запрос
            </p>
            <div>
                <input autofocus type="text" name="query" />
                <button type="submit">Поиск</button>
            </div>
            @{
                if (Model.LocalSearch)
                {
                    <a href="/">Поиск в поисковых системах</a>
                }
                else
                {
                    <a href="/home/local">Поиск в базе данных</a>
                }
            }
        </form>
    </main>
</body>
</html>

