<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MultiSearch</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <main>
        <form method="get">
            <p>
                Введите запрос
            </p>
            <div>
                <input type="text" name="query" />
                <button type="submit">Поиск</button>
            </div>
        </form>
    </main>
</body>
</html>

